[submodule "Microservices/auth"]
	path = Microservices/auth
	url = https://github.com/nabeelktr/Eduwise-auth-service.git
[submodule "Microservices/client"]
	path = Microservices/client
	url = https://github.com/nabeelktr/Eduwise-client.git
[submodule "client"]
	path = client
	url = https://github.com/nabeelktr/Eduwise-client.git
[submodule "Microservice/transcoder"]
	path = Microservice/transcoder
	url = https://github.com/nabeelktr/Eduwise-Transcoder-service.git
[submodule "Microservices/transcoder"]
	path = Microservices/transcoder
	url = https://github.com/nabeelktr/Eduwise-Transcoder-service.git
[submodule "Microservices/api-gateway"]
	path = Microservices/api-gateway
	url = https://github.com/nabeelktr/Eduwise-api-gateway.git
[submodule "Microservices/order"]
	path = Microservices/order
	url = https://github.com/nabeelktr/Eduwise-order-service.git
